<div class="container contact-form mt-4">
  <div class="col-10">
    <form >
      <div class="row">
        <div class="col-6 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="Name" placeholder="Name"  />
        </div>
        <div class="col-6 form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="Email" placeholder="Email"  />
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" name="Subject" placeholder="Subject"  />
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group">
          <label for="message">Message</label>
          <input type="text"  class="form-control" name="Message" placeholder="Message..."  />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
