<footer class="footer-bg mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <ul class="list-unstyled clear-margin">
          <li class="widget-container widget-nav-menu">
            <h1 class="title-widget">GIỚI THIỆU</h1>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>VỀ CHÚNG TÔI</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>THỎA THUẬN SỬ DỤNG</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>QUY CHẾ HOẠT ĐỘNG</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>CHÍNH SÁCH BẢO MẬT</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <ul class="list-unstyled clear-margin">
          <li class="widget-container widget-nav-menu">
            <h1 class="title-widget">GÓC ĐIỆN ẢNH</h1>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>THỂ LOẠI PHIM</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>BÌNH LUẬN PHIM</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>BLOG ĐIỆN ẢNH</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>PHIM HAY THÁNG</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <ul class="list-unstyled clear-margin">
          <li class="widget-container widget-nav-menu">
            <h1 class="title-widget">HỖ TRỢ</h1>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>GÓP Ý</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>SALE & SERVICES</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>RẠP / GIÁ VÉ</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  <span>TUYỂN DỤNG</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <ul class="list-unstyled clear-margin">
          <li class="widget-container widget_recent_news">
            <h1 class="title-widget">KẾT NỐI SIGMA-DUCK CINEMA</h1>
            <div class="social-icon">
              <a href="#" target="_blank">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a href="#" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </li>
        </ul>
        <div class="store">
          <ul class="list-unstyled clear-margin">
            <li class="widget-container widget_recent_news">
              <h1 class="title-widget">DOWNLOAD APP</h1>
              <div class="social-icon">
                <a href="#" target="_blank">
                  <i class="fab fa-apple"></i>
                </a>
                <a href="#" target="_blank">
                  <i class="fab fa-google-play"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="/">
          <img src="../../../assets/logo.jpg" width="60px" height="60px" alt="">
        </a>
        <div class="copyright ml-5">
          <p>Công Ty Cổ Phần SIGMA-DUCK-CINEMA, Tầng 2, Toà Nhà HD Bank Sư Vạn Hạnh, 459 Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh</p>
        </div>
      </div>
    </div>
  </div>
</div>
